.study_data{
	display: flex;
   /* justify-content: space-between; */
    padding-bottom: 30px;
   margin-bottom:40px;
}
.study_img{
	width: 570px;
    height: 450px;
    border: 3px solid #eaeaea;
    /* margin: 0 auto; */
}
.study_description{
	line-height: 1.4;
	max-width: 600px;
    /* margin: 0 auto; */
    padding: 0px 10px 0 40px;
}
h1{
	text-align: center;
	color: #000;
}

.study_description h2 {
	color: #941313;
	font-size: 1.1em;
}

.study_description p{
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

.study_description li{
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

.study_description span {
font-size: 1em;
    
}

.study_description ul {
padding: 5px 0 5px 10px;
}

.study_description ol {
padding: 5px 0 5px 30px;
margin: 0;
}

.study_description ol li {
font-size: 0.8em;
}

.study_description p {
	padding: 3px 0;
}

.study_description ol .marker li {
	font-size: 1em;
}


.main_words{
	font-style: italic;
}
.cost_number{
	font-style: italic;
	color: #941313;
}
.top_mrgn{
	margin-top: 40px;
}
.marker li::before{
	content: "- ";
}
.marker{
	padding-left: 15px;
}
@media all and (max-width: 1200px){
h1{
	font-size: 28px;
}
h2{
	font-size: 20px;
}
.study_description{
	font-size: 14px;
	padding: 0px 10px;
}
.study_img{
	width: 410px;
    height: 410px;
}
}
@media all and (max-width: 1024px) {
h1{
	font-size: 24px;
}
h2{
	font-size: 18px;
}
.study_description{
	font-size: 12px;
	padding: 0px 10px;
}
.study_img{
	width: 400px;
    height: 400px;
}
}
@media all and (max-width: 768px){
.study_data{
	display: flex;
	flex-direction: column;
	align-content: center;
}
.study_description{
	font-size: 15px;
	padding: 0px 10px;
}
.study_img{
	width: 90%;
    height: auto;
}
}